@charset "UTF-8";
/* CSS Document */

* {box-sizing: border-box}

body, html {
  margin: 0;
  padding-bottom: 20vw;
  font-family: "Nunito"; 
}

/* Style tab links */
.tablink {
  color: #028174;
  border-radius: 0;
  background-color: #ffe3b3;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  cursor: pointer;
  padding: 14vw 16vw;
  font-size: 26vwx;
  width: 20%;
}

.recycle {
  margin-left: 40%;
  margin-top: 50vw;
  width: 20%;
}

.tablink:hover {
  background-color: #92de8b;
}

.tabcontent {
  color: #028174;
  display: none;
  padding: 100vw 20vw;
  height: 100%;
}

#Home {background-color: white;}
#Definition {background-color: #028174;}
#Exploration {background-color: #0ab68b;}
#Iteration {background-color: #92de8b;}
#FinalProduct {background-color: #028174;}
	