@charset "UTF-8";
/* CSS Document */

* {box-sizing: border-box}

body, html {
  margin: 0;
  font-family: "Nunito"; 
}

/* Style tab links */
.tablink {
  color: #028174;
  border-radius: 0;
  background-color: #ffe3b3;
  display: inline-block;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  cursor: pointer;
  padding: 2vw 0vmin;
  margin-bottom: 5vh;
  font-size: 2.8vw;
  width: 20vw;
  white-space: nowrap;
}

.recycle {
  margin-top: 10vmin;
  width: 20vw;
  margin: 2vh auto;
  padding-bottom: 2vh;
}

.tablink:hover {
  background-color: #92de8b;
}

.tabcontent {
  color: #028174;
  display: none;
  padding: 5vmin 7vmin;
  margin-bottom: 0;
  height: 100%;
}

#Home {background-color: white;}
#Definition {background-color: #028174;}
#Exploration {background-color: #0ab68b;}
#Iteration {background-color: #92de8b;}
#FinalProduct {background-color: #028174;}
	