@charset "UTF-8";
/* CSS Document */

* {box-sizing: border-box}

body, html {
  margin: 0;
  font-family: "Nunito"; 
}

/* Style tab links */
.tablink {
  color: #028174;
  border-radius: 0;
  background-color: #ffe3b3;
  display: inline-block;
  float: left;
  outline: none;
  cursor: pointer;
  cursor: pointer;
  padding: 2vw 0vmin;
  margin: .5vh 0 2vh 0;
  font-size: 2.8vw;
  width: 20vw;
  white-space: nowrap;
  border-style: solid; 
  border-color: white;
}

.recycle {
  width: 20%;
  margin: 2vw 40%;
  padding-bottom: 2vh;
}

.tablink:hover {
  background-color: #92de8b;
}

.tabcontent {
  color: #028174;
  display: none;
  padding: 8vw 3vw 2vw;
  margin-bottom: 0;
  height: 100%;
}

#Home {background-color: white;}
#Definition {background-color: #028174;}
#Exploration {background-color: #0ab68b;}
#Iteration {background-color: #92de8b;}
#FinalProduct {background-color: #028174;}

#homeTab:hover {
  background-color: white;
}
#definitionTab:hover {
  background-color: #028174;
  color: white;
}
#explorationTab:hover {
  background-color: #0ab68b; 
  color: white;
}
#iterationTab:hover {
  background-color: #92de8b;
  color: white;
}
#finalProductTab:hover {
  background-color: #028174;
  color: white;
}